<button class="btn btn-primary" routerLink="/add">Add</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">userId</th>
        <th scope="col">title</th>
        <th scope="col">body</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arr of data">
        <th scope="row">{{arr.userId}}</th>
        <td>{{arr.title}}</td>
        <td>{{arr.body}}</td>
        <td><button class="btn btn-danger" [routerLink]="['/details',arr.id]">Details</button></td>
      </tr>
    </tbody>
  </table>